*{
    margin: 0;
    padding: 0;
}

.top{
    margin:auto;
    min-height: 100vh;
    width: 95%;
    background-image: linear-gradient(#7b7b7b65,rgba(94, 95, 101, 0.358)),url(images/Activities/brezo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bigtext{
    width:100%;
    margin:auto;
    color: #fff;
    text-align:center;
    padding:300px;
    top:50%;
}
.secondtext{
    width:100%;
    margin:auto;
    color: rgb(63, 63, 63);
    text-align:left;
    padding:20px;
}

.row{
    margin-top:1%;
    display:flex;
    justify-content: space-between;
}

.activities{
    flex-basis:30%;
    background-color: antiquewhite;
    border-radius: 10px;
    margin:auto;
    padding:20px 12px;
    box-sizing: border-box;
}
