
*{
    margin: 0;
    padding: 0;
 
}
/*ACTIVITIES*/
.top{
    margin:auto;
    /*min-height: 100vh;*/
   /* width: 100%; */
    height:500px;
    background-image: linear-gradient(#7b7b7b65,rgba(94, 95, 101, 0.358)),url(images/Activities/brezo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}

.bigtext{
   /* width:100%; */
    margin:auto;
    color: #fff;
    text-align:center;
    padding:300px;
    top:50%;
}
@media(max-width:720px){
   .bigtext{
    padding: 0;
    padding-top:300px;
    top:50%;
   }
  }
.secondtext{
    width:100%;
    margin:auto;
    color: rgb(63, 63, 63);
    text-align:left;
    padding:20px;
}

.row{
    margin-top:1%;
    display:flex;
    justify-content: space-between;
}

.activities{
    flex-basis:25%;
    background-color: #e8e6e7;
    border-radius: 18px;
    margin: auto;
    box-sizing: border-box;
    transition:0.5s;
    padding:20px;


    
}

.activities:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}

.activities img{
    width: 400px;
    height:250px;
    padding:10px;
    border-radius: 18px;
    
}
a {
    text-decoration:none;
    color:rgb(69, 68, 68);
    display:inline;
}

section{
    margin-left: 30px;
    margin-right: 30px;
}


.imgactivity-zoom{
    transition: transform .5s ease;
} 
.imgactivity:hover{
    transform: scale(1.2);
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


