/*NATURE AND ADVENTURE*/

.topadventure{
    margin:auto;
    /*min-height: 100vh;*/
    width: 100%;
    height:350px;
    background-image: linear-gradient(#7b7b7b65,rgba(94, 95, 101, 0.358)),url(images/Activities/hiking.png); /*foto duhet mu ndrru*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section{
    margin-left: 150px;
    margin-right: 150px;
}

.right{
    float:right;
    margin:5px;
}
.left{
    float:left;
    margin:5px;
}

.left map{
    transition: transform .5s;
}

.map:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}

h1{
    width:100%;
    margin:auto;
    color: #fff;
    text-align:center;
    padding:200px;
    top:30%;
}