
*{
    margin:0;
    padding:0;
}

.header{
    min-height:100vh;
    width:100%;
    background-image: 
    url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/63/68/12/hotel-outdor.jpg?w=700&h=-1&s=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position:relative;
}

.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    margin-top: 20px;
  }
  
  .input-tab {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-left: 10px;
  }
  