
*{
    margin:0;
    padding:0;
}

.header1{
    margin:auto;
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(#2b2b2b65,rgba(28, 28, 28, 0.358)),url(images/akomodimi/magra\ austria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box{
    width:90%;
    color:#fff;
    text-align: center;
   /* position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;*/
}
.labels {
    text-align:right;
    vertical-align: top;
    margin-top:20px;
  
  }
  
  .input-tab {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-left: 10px;
  }
    /*new code per dropdown list*/
  /* Dropdown Button */
.dropbtn {
    background-color: white;
    height:30px;
    width:200px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align:center;
    margin:20px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color:rgb(156, 156, 215);
  }

  .dropDown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:20px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu ( used JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}