
body{   
  font-family: system-ui;
  margin: 0;
  padding: 0;
  height: 100vh;   
  background-color: #edd9ab;
 
}

body{
    
    font-family: system-ui;
    margin: 0;
    padding: 0;
    height: 100vh;


    

}

  
  

section{
  width: 100%;
  height: 115vh;
}

section.first-pic{
  background: url(images/home/kosovaaa.jpg);
  background-size: cover;
  
}

.centered {
  position: absolute;
  color: white;
  font-size: 45px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline{
  display: inline-block;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
width: 60%;
}
.hr-line{
width: 60%;
margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color:#528555;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: large;

}
.faq-body{
  
  margin: auto;
  /* text-align: center; */
 width: 40%; 
 padding: auto;
 
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color:#edd9ab;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color:#edd9ab;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
#container {
  width: auto;
  width: 90vmin;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 0 0 300px #333;
}
.video-player{
  padding-left: 30px;
  width: 500px;
 height: 281.25px;
}