.dropdown{
    margin: 0 auto;
    position: sticky;
    top: 0;
    opacity: 0.9;
    
  }
  nav{
     background: #528555;
     height: 75px;
     
  }
  .logo {
     padding: 5px 0 0 40px;
     width: 65px;
     height:auto ;
  }
  
  .logo{
  
    animation: rotation 3s;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    nav ul {
        padding: 0;
        margin:0 ;
        float: right;
        margin-right: 30px;
    }
    nav ul li{
     background:#528555;
        position: relative;
        list-style: none;
        display: inline-block;
    }
    nav ul li a {
      display: block;
      padding: 0 15px;  
  color: white;
  font-style: bold;
      text-decoration: none;
      line-height: 70px;
      font-size: 20px;
    
    }
    nav ul li a:hover{
       background: #026633;
    }
    nav ul ul {
        position: absolute;
        top: 60px;
        display: none;
    
    }
    nav ul li:hover > ul{
    display: block;
    }
    nav ul ul li{
        width: 130px; 
        float: none;
        display: list-item;
        position: relative;
    }