.swiper{
  width:100%;
  height:fit-content;
}

.swiper-slide img{
  width:100%;

}

.mySlides {
  display:none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color:#fff;
}

.swiper .swiper-pagination-bullet-active{
  background:#fff;
}

.caption{
  position: absolute;
  text-align: right;
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:25px;
  font-weight:bolder;
  bottom:170px;
  right:380px;
}

.txt{
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  text-align:right;
  color:white;
  font-weight:600;
  font-style:unset;
  
}

.image{
  filter:brightness(75%);
}

.offers{
  
  width:90%;
  height:auto;
  /*border:1px solid rgba(83, 32, 1, 0.589);*/
  margin:auto;
}

.offers h2{
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(0, 0, 0);
  font-weight:600;
  text-align: center;
  padding:60px 0px 10px 0px;
  font-size: 30px;
}

.offers .cards{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border:1px solid rgb(67, 27, 1);*/
  flex-wrap:wrap;
}

.card{
  position:relative;
  width: 270px;
  height: 380px;
  /*border:1px solid rgb(67, 27, 1);*/
  margin:0px;
  background-color:#E8E7E6;
  border-radius: 15px;
  margin-top:30px;
}

.card h3{
  width:100%;
  padding:10px 0px;
  background: #CFB79F;
  border-radius:10px 10px 0px 0px;
  color:black;
  font-size: 20px;
  display: grid;
  place-items:center;
  margin:auto;
  font-family:Arial, Helvetica, sans-serif;
}

.img_text img{
  position:relative;
  width:100%;
  height:170px;
  border-radius: 0px;

}

.fas{
  position:absolute;
  bottom:5px;
  color:rgb(0, 101, 0);
  font-size:25px;
}

#link{
  margin:5px;
  position:absolute;
  bottom:0px;
  right:0px;
  color:rgb(80, 44, 8);
}

.teksti{
  text-align: left;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding:0px 10px;
}

#icon_click{
  cursor:pointer;
}

.fas:hover{
  color:rgb(84, 75, 75);
}

.link:hover{
  color:black;
}

#link:visited{
  color:rgb(102, 101, 101);
}

abbr{
  font-style:italic;
  color:rgb(156, 66, 10);
}

.weatherWidget{
  width:50%;
  float: left;
  padding: 20px;
}

h3{
  color:rgb(66, 39, 0);
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top:50px;
  font-size: 25px
}


.tekssti{
  font-family:Arial, Helvetica, sans-serif;
  padding-top:20%;
  text-align: left;
  font-size: 18px;
  color:rgb(49, 22, 0);
}

#weather{
  background-color:#E8E7E6;
  position:absolute;
}

mark{
  background-color: rgb(255, 255, 255);
  outline-style:outset;
  outline-color:#7f8f95;
}

#h5{
  text-align:center;
  font-size: x-large;
  margin:10px; 
}

table, th, td{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  border:0px inset rgb(87, 70, 53);
  border-collapse: collapse;
}
table{
  margin-top: 60px;
  margin-left: 3%;
  border-spacing: 30px;

}

th, td{
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 20px;
}
td, th{
  color:#000000;
  background:#E8E7E6;


}
.qytetet{
  background-color: #7f8f95;
}